<h2><%= t("admin.laws.index.title") %></h2>

<%= render 'shared/filter_subnav', i18n_namespace: "admin.laws.index" %>

<h3><%= page_entries_info @laws %></h3>

<table>
  <% @laws.each do |law| %>
    <tr id="<%= dom_id(law) %>">
      <td>
        <strong><%= law.title %></strong>
        <br>
        <div class="moderation-description">
          <%= law.description %>
        </div>
      </td>
      <td>
        <%= link_to t("admin.actions.restore"),
              restore_admin_law_path(law, request.query_parameters),
              method: :put,
              data: { confirm: t("admin.actions.confirm") },
              class: "button radius tiny success no-margin" %>
      </td>
      <td>
        <% unless law.confirmed_hide? %>
          <%= link_to t("admin.actions.confirm_hide"),
                confirm_hide_admin_law_path(law, request.query_parameters),
                method: :put,
                class: "button radius tiny warning right" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @laws %>
