<% provide :title do %><%= t('laws.index.title') %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form_header",
search_path: laws_path(page: 1),
i18n_namespace: "laws.index.search_form" %>
<% end %>

<section role="main">
  <div class="wrap row">
    <div id="laws" class="laws-list small-12 medium-12 column">

      <div class="filters">
        <div class="small-12 medium-7 left">
          <% if @search_terms %>
            <h2 class="margin-top">
              <%= page_entries_info @laws %>
              <%= t("laws.index.search_results", count: @laws.size, search_term: @search_terms) %>
            </h2>
          <% elsif @tag_filter %>
            <h2 class="margin-top">
              <%= page_entries_info @laws %>
              <%= t("laws.index.filter_topic", count: @laws.size, topic: t("ley.#{@tag_filter}")) %>
            </h2>
          <% end %>
        </div>

        <!--
        <% if @tag_filter || @search_terms %>
          <div class="small-12 medium-5 margin-top inline-block laws-order">
            <h6 class="inline-block">
              <%= t("laws.index.select_order") %>
            </h6>
            <%= render 'shared/order_selector', i18n_namespace: "laws.index" %>
          </div>
        <% else %>
          <div class="small-12 inline-block">
            <h2 class="inline-block">
              <%= t("laws.index.select_order_long") %>
            </h2>
            <%= render 'shared/order_selector', i18n_namespace: "laws.index" %>
          </div>
        <% end %>
        -->

        <div id="header" class="small-12 medium-12 menu-programa">
          <%= link_to taggable_path('law', 'titulo_0'), class: 'm', :data =>{:dropdown =>'epi-titulo0'} do %>
             <%=  t('ley.titulo_0') %>
          <% end %>
          <ul id='epi-titulo0' class='medium f-dropdown' data-dropdown-content>

            <li><%= link_to taggable_path('law', 'articulo_0_1'), class: 'm' do %>
                  <%=  t('ley.articulo_0_1') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_0_2'), class: 'm' do %>
                  <%=  t('ley.articulo_0_2') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_0_3'), class: 'm' do %>
                  <%=  t('ley.articulo_0_3') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_0_4'), class: 'm' do %>
                  <%=  t('ley.articulo_0_4') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_0_5'), class: 'm' do %>
                  <%=  t('ley.articulo_0_5') %>
              <% end %></li>

          </ul>

          <%= link_to taggable_path('law', 'titulo_1'), class: 'm', :data =>{:dropdown =>'epi-titulo1'} do %>
             <%=  t('ley.titulo_1') %>
          <% end %>
          <ul id='epi-titulo1' class='medium f-dropdown' data-dropdown-content>

            <li><%= link_to taggable_path('law', 'articulo_1_6'), class: 'm' do %>
                  <%=  t('ley.articulo_1_6') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_1_7'), class: 'm' do %>
                  <%=  t('ley.articulo_1_7') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_1_8'), class: 'm' do %>
                  <%=  t('ley.articulo_1_8') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_1_9'), class: 'm' do %>
                  <%=  t('ley.articulo_1_9') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_1_10'), class: 'm' do %>
                  <%=  t('ley.articulo_1_10') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_1_11'), class: 'm' do %>
                  <%=  t('ley.articulo_1_11') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_1_12'), class: 'm' do %>
                  <%=  t('ley.articulo_1_12') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_1_13'), class: 'm' do %>
                  <%=  t('ley.articulo_1_13') %>
              <% end %></li>

          </ul>

          <%= link_to taggable_path('law', 'titulo_2'), class: 'm', :data =>{:dropdown =>'epi-titulo2'} do %>
             <%=  t('ley.titulo_2') %>
          <% end %>
          <ul id='epi-titulo2' class='medium f-dropdown' data-dropdown-content>

            <li><%= link_to taggable_path('law', 'articulo_2_14'), class: 'm' do %>
                  <%=  t('ley.articulo_2_14') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_15'), class: 'm' do %>
                  <%=  t('ley.articulo_2_15') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_16'), class: 'm' do %>
                  <%=  t('ley.articulo_2_16') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_17'), class: 'm' do %>
                  <%=  t('ley.articulo_2_17') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_18'), class: 'm' do %>
                  <%=  t('ley.articulo_2_18') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_19'), class: 'm' do %>
                  <%=  t('ley.articulo_2_19') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_20'), class: 'm' do %>
                  <%=  t('ley.articulo_2_20') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_21'), class: 'm' do %>
                  <%=  t('ley.articulo_2_21') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_22'), class: 'm' do %>
                  <%=  t('ley.articulo_2_22') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_23'), class: 'm' do %>
                  <%=  t('ley.articulo_2_23') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_24'), class: 'm' do %>
                  <%=  t('ley.articulo_2_24') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_25'), class: 'm' do %>
                  <%=  t('ley.articulo_2_25') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_26'), class: 'm' do %>
                  <%=  t('ley.articulo_2_26') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_27'), class: 'm' do %>
                  <%=  t('ley.articulo_2_27') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_28'), class: 'm' do %>
                  <%=  t('ley.articulo_2_28') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_29'), class: 'm' do %>
                  <%=  t('ley.articulo_2_29') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_30'), class: 'm' do %>
                  <%=  t('ley.articulo_2_30') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_31'), class: 'm' do %>
                  <%=  t('ley.articulo_2_31') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_32'), class: 'm' do %>
                  <%=  t('ley.articulo_2_32') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_33'), class: 'm' do %>
                  <%=  t('ley.articulo_2_33') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_34'), class: 'm' do %>
                  <%=  t('ley.articulo_2_34') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_35'), class: 'm' do %>
                  <%=  t('ley.articulo_2_35') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_36'), class: 'm' do %>
                  <%=  t('ley.articulo_2_36') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_37'), class: 'm' do %>
                  <%=  t('ley.articulo_2_37') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_38'), class: 'm' do %>
                  <%=  t('ley.articulo_2_38') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_39'), class: 'm' do %>
                  <%=  t('ley.articulo_2_39') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_40'), class: 'm' do %>
                  <%=  t('ley.articulo_2_40') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_41'), class: 'm' do %>
                  <%=  t('ley.articulo_2_41') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_42'), class: 'm' do %>
                  <%=  t('ley.articulo_2_42') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_43'), class: 'm' do %>
                  <%=  t('ley.articulo_2_43') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_44'), class: 'm' do %>
                  <%=  t('ley.articulo_2_44') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_45'), class: 'm' do %>
                  <%=  t('ley.articulo_2_45') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_46'), class: 'm' do %>
                  <%=  t('ley.articulo_2_46') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_47'), class: 'm' do %>
                  <%=  t('ley.articulo_2_47') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_48'), class: 'm' do %>
                  <%=  t('ley.articulo_2_48') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_49'), class: 'm' do %>
                  <%=  t('ley.articulo_2_49') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_50'), class: 'm' do %>
                  <%=  t('ley.articulo_2_50') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_51'), class: 'm' do %>
                  <%=  t('ley.articulo_2_51') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_52'), class: 'm' do %>
                  <%=  t('ley.articulo_2_52') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_53'), class: 'm' do %>
                  <%=  t('ley.articulo_2_53') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_54'), class: 'm' do %>
                  <%=  t('ley.articulo_2_54') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_55'), class: 'm' do %>
                  <%=  t('ley.articulo_2_55') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_56'), class: 'm' do %>
                  <%=  t('ley.articulo_2_56') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_57'), class: 'm' do %>
                  <%=  t('ley.articulo_2_57') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_58'), class: 'm' do %>
                  <%=  t('ley.articulo_2_58') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_59'), class: 'm' do %>
                  <%=  t('ley.articulo_2_59') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_60'), class: 'm' do %>
                  <%=  t('ley.articulo_2_60') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_2_61'), class: 'm' do %>
                  <%=  t('ley.articulo_2_61') %>
              <% end %></li>

          </ul>

          <%= link_to taggable_path('law', 'titulo_3'), class: 'm', :data =>{:dropdown =>'epi-titulo3'} do %>
             <%=  t('ley.titulo_3') %>
          <% end %>
          <ul id='epi-titulo_3' class='medium f-dropdown' data-dropdown-content>

            <li><%= link_to taggable_path('law', 'articulo_3_62'), class: 'm' do %>
                  <%=  t('ley.articulo_3_62') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_3_63'), class: 'm' do %>
                  <%=  t('ley.articulo_3_63') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_3_64'), class: 'm' do %>
                  <%=  t('ley.articulo_3_64') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_3_65'), class: 'm' do %>
                  <%=  t('ley.articulo_3_65') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_3_66'), class: 'm' do %>
                  <%=  t('ley.articulo_3_66') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_3_67'), class: 'm' do %>
                  <%=  t('ley.articulo_3_67') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_3_68'), class: 'm' do %>
                  <%=  t('ley.articulo_3_68') %>
              <% end %></li>

          </ul>

          <%= link_to taggable_path('law', 'titulo_4'), class: 'm', :data =>{:dropdown =>'epi-titulo4'} do %>
             <%=  t('ley.titulo_4') %>
          <% end %>
          <ul id='epi-titulo4' class='medium f-dropdown' data-dropdown-content>

            <li><%= link_to taggable_path('law', 'articulo_4_69'), class: 'm' do %>
                  <%=  t('ley.articulo_4_69') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_4_70'), class: 'm' do %>
                  <%=  t('ley.articulo_4_70') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_4_71'), class: 'm' do %>
                  <%=  t('ley.articulo_4_71') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_4_72'), class: 'm' do %>
                  <%=  t('ley.articulo_4_72') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_4_73'), class: 'm' do %>
                  <%=  t('ley.articulo_4_73') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_4_74'), class: 'm' do %>
                  <%=  t('ley.articulo_4_74') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_4_75'), class: 'm' do %>
                  <%=  t('ley.articulo_4_75') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_4_76'), class: 'm' do %>
                  <%=  t('ley.articulo_4_76') %>
              <% end %></li>

          </ul>

          <%= link_to taggable_path('law', 'titulo_5'), class: 'm', :data =>{:dropdown =>'epi-titulo5'} do %>
             <%=  t('ley.titulo_5') %>
          <% end %>
          <ul id='epi-titulo5' class='medium f-dropdown' data-dropdown-content>

            <li><%= link_to taggable_path('law', 'articulo_5_77'), class: 'm' do %>
                  <%=  t('ley.articulo_5_77') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_5_78'), class: 'm' do %>
                  <%=  t('ley.articulo_5_78') %>
              <% end %></li>

            <li><%= link_to taggable_path('law', 'articulo_5_79'), class: 'm' do %>
                  <%=  t('ley.articulo_5_79') %>
              <% end %></li>

          </ul>

		</div>

		<p class="vota-participa">* Tras informarte de las diferentes propuestas puedes votarlas en: <a href="https://participa.podemos.info/es">participa.podemos.info</a></p>


        <!--div class="show-for-small-only">
          <%= link_to t("laws.index.start_law"), new_law_path, class: 'button radius expand' %>
        </div-->

        <%= render @laws %>
        <%= paginate @laws %>
      </div>
    </div>

    <!--div class="small-12 medium-3 column">
      <aside class="sidebar" role="complementary">
        <!--%= link_to t("laws.index.start_law"), new_law_path, class: 'button radius expand' %-->
        <!--%= render "shared/tag_cloud", taggable: 'law' %-->
        <!--div class="tag-cloud">
            <div class="sidebar-divider"></div>
            <h3>Eje seleccionado</h3>
            <br>
            <a href="" class="l">Sub-eje 1</a>
            <a href="" class="l">Sub-eje 2</a>
            <a href="" class="l">Sub-eje 3</a>
        </div>
      </aside>
    </div-->
  </div>
</section>
