<% provide :title do %><%= @cca.title %><% end %>
<% cache [locale_and_user_status(@cca), @cca, @cca.author, Flag.flagged?(current_user, @cca), @cca_votes] do %>
  <section class="cca-show">
    <div id="<%= dom_id(@cca) %>" class="row">
      <div class="small-12 medium-9 column">
        <i class="icon-angle-left left"></i>&nbsp;
        <%= link_to t("ccas.show.back_link"), :back, class: 'left back' %>

        <% if current_user && @cca.editable_by?(current_user) %>
          <%= link_to edit_cca_path(@cca), class: 'edit-cca button success tiny radius right' do %>
            <i class="icon-edit"></i>
            <%= t("ccas.show.edit_cca_link") %>
          <% end %>
        <% end %>

        <h1><%= @cca.title %></h1>
        <% if @cca.conflictive? %>
          <div class="alert-box alert radius margin-top">
            <strong><%= t("ccas.show.flag") %></strong>
          </div>
        <% end %>

        <div class="cca-info">
		  <%= image_tag(
		        @cca.author.gravatar_url(
		          size: 32,
		          default: 'identicon'
		        ),
		        size: 32,
		        class: 'author-photo') %>

          <% if @cca.author.hidden? %>
            <i class="icon-deleted author-deleted"></i>
            <span class="author">
                <%= t("ccas.show.author_deleted") %>
            </span>
          <% else %>
            <span class="author">
                <%= @cca.author.name %>
            </span>
            <% if @cca.author.official? %>
              &nbsp;&bull;&nbsp;
              <span class="label round level-<%= @cca.author.official_level %>">
                <%= @cca.author.official_position %>
              </span>
            <% end %>
          <% end %>

          <% if @cca.author.verified_organization? %>
            &nbsp;&bull;&nbsp;
            <span class="label round is-association">
              <%= t("shared.collective") %>
            </span>
          <% end %>

          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <%= l @cca.created_at.to_date %>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <i class="icon-comments"></i>&nbsp;
          <%= link_to t("ccas.show.comments", count: @cca.comments_count), "#comments" %>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <span class="js-flag-actions">
            <%= render 'ccas/flag_actions', cca: @cca %>
          </span>
        </div>

        <%= safe_html_with_links @cca.description %>

        <%= render 'shared/tags', taggable: @cca %>

        <div class="js-moderator-cca-actions moderator-actions">
          <%= render 'actions', cca: @cca %>
        </div>
      </div>

      <aside class="small-12 medium-3 column">
        <div class="sidebar-divider"></div>
        <h3><%= t("votes.supports") %></h3>
        <div class="text-center">
          <div id="<%= dom_id(@cca) %>_votes">
           <%= render 'ccas/votes', cca: @cca %>
          </div>
        </div>
        <div class="sidebar-divider"></div>
        <h3><%= t("ccas.show.share") %></h3>
        <%= social_share_button_tag(@cca.title) %>
      </aside>
    </div>
  </section>
<% end %>

<%= render "comments" %>
